[Unit]
Description=Apache Knox Service

[Service]
Type=simple
PIDFile={{ knox.path }}/pids/gateway.pid
ExecStart={{ knox.path }}/bin/gateway.sh start
ExecStop={{ knox.path }}/bin/gateway.sh stop
User={{ knox.ta }}
Group={{ knox.ta }}
                      